@import "variables";
@import "mixins";

.article {
  .container {
    padding-top: 80px;
    padding-bottom: 120px;

    .article-nav {
      margin-bottom: 60px;
      font-size: 16px;
      color: #b9d5fd;

      span {
        text-decoration: none;
        font-weight: 500;
        color: $light-blue-color;
      }
    }

    .article-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .article-header-text {
        max-width: 607px;

        .article-header-title {
          @include head-title;
          margin-bottom: 40px;
        }

        .article-header-description {
          font-size: 20px;
          line-height: 130%;
          color: $light-blue-color;
        }
      }

      .article-header-image {
        width: 527px;
        height: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .article-body {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .article-body-content {
        max-width: 818px;

        ::ng-deep .article-body-content-text {
          h1 {
            @include card-title;
            font-size: 28px;
          }

          h3 {
            @include card-title;
          }

          p {
            font-family: $font-family;
            font-size: 14px;
            line-height: 130%;
            color: $blue-color;

            b {
              font-weight: 600;
            }
          }

          ol {
            padding-left: 17px;
            li{
              font-family: $font-family;
              font-size: 14px;
              line-height: 130%;
              color: $blue-color;
            }
          }

          ul {
            padding-left: 17px;
            li{
              font-family: $font-family;
              font-size: 14px;
              line-height: 130%;
              color: $blue-color;
            }
          }
        }

        .article-body-content-links {
          padding-top: 40px;
          font-weight: 500;
          font-size: 14px;
          color: $light-blue-color;
          display: flex;
          align-items: center;
          margin-bottom: 120px;

          a {
            color: $light-blue-color;
            text-decoration: none;
            margin-left: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s;

            &:first-child {
              margin-left: 20px;
            }

            &:hover svg g path {
              fill: $light-blue-color-hover;
            }
          }
        }

        .comment {
          .comment-title {
            @include head-title;
          }

          .comment-form {

            .comment-form-input {
              margin-top: 40px;
              margin-bottom: 20px;

              textarea.input {
                width: 100%;
                height: 248px;
                resize: none;
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: $blue-color;
              }
            }

            .comment-form-button {
              button.button {
                font-weight: 400;
                width: 422px;
              }
            }

            .comment-form-auth {
              margin-top: 20px;
              font-size: 14px;
              color: $blue-color;

              a {
                color: $light-blue-color;
                text-decoration: none;
              }
            }
          }

          .comment-items {
            margin-top: 60px;
          }

          .comment-more {
            padding-top: 20px;
            display: flex;

            a {
              font-weight: 500;
              font-size: 20px;
              color: $light-blue-color;
              display: flex;
              align-items: center;
              text-decoration: none;
              cursor: pointer;

              &:hover {
                color: $blue-color;
              }

              &:hover svg path {
                fill: $blue-color;

              }

              svg {
                margin-left: 10px;
              }
            }
          }
        }
      }

      .article-body-sidebar {
        display: flex;
        flex-direction: column;

        .article-body-sidebar-title {
          margin-top: 60px;
          margin-bottom: 20px;
          font-size: 26px;
          color: $light-blue-color;
        }

        .article-body-sidebar-article {
          margin-bottom: 60px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }
}
