$font-family: "Montserrat", sans-serif;
$second-family: "Lora", sans-serif;
$third-family: "Suisse Intl", sans-serif;

$container-width: 1240px;

$blue-color: #071739;
$light-blue-color: #709fdc;
$light-blue-color-hover: #264979;
