<p-dialog [(visible)]="visibleModal" [modal]="true" [style]="{ width: '45vw' }" [draggable]="false" [resizable]="false">
  <div class="modal">
    <form class="modal-form" *ngIf="visibleBlock" [formGroup]="modal">
      <div class="modal-title">{{ title }}</div>
      <div class="modal-input">
        <input type="text" class="input input-invalid"
               *ngIf="type === 'order'"
               [attr.disabled]="true" style="color: #709fdc" placeholder=""
               formControlName="service">
      </div>
      <div class="modal-input">
        <input type="text" class="input input-invalid" placeholder="Ваше имя"
               formControlName="name">
      </div>
      <div class="modal-input">
        <input type="text" class="input input-invalid" placeholder="Ваш номер телефона"
               formControlName="phone">
      </div>
      <button class="modal-button button" [disabled]="modal.invalid" (click)="send()">{{ buttonText }}</button>
    </form>

    <div class="modal-success" *ngIf="!visibleBlock">
      <div class="modal-success-title">Спасибо за вашу заявку!</div>
      <div class="modal-success-text">Мы свяжемся с вами при первой же возможности.</div>
      <button class="button modal-success-button" (click)="closeModal()">Окей</button>
    </div>
  </div>
</p-dialog>

