@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.carousel {
  .container {
    padding-bottom: 120px;

    ::ng-deep .p-carousel .p-carousel-content {
      position: relative;
      .p-carousel-container {


        .p-carousel-prev, .p-carousel-next {
          position: absolute;
          z-index: 100;

          &:hover .p-carousel-prev-icon::before {
            color: $light-blue-color
          }

          .p-carousel-prev-icon::before {
            font-size: 28px;
            color: white;
          }

          &:hover {
            background-color: transparent;
            color: $light-blue-color
          }
        }

        .p-carousel-prev {
          left: 0;
        }

        .p-carousel-next {
          right: 0;
        }
      }

      .p-carousel-indicators {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;


        .p-carousel-indicator {
          margin-left: 10px;
          margin-right: 10px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid white;
          }
        }

        .p-highlight  button{
          background: white;
        }
      }
    }

    .carousel-item {
      padding: 100px 80px;
      height: 500px;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;


      .carousel-category {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: $light-blue-color;
      }

      .carousel-title {
        font-size: 50px;
        color: #fff;
        width: 550px;

        ::ng-deep span {
          color: $light-blue-color !important;
        }
      }

      .carousel-text {
        font-size: 24px;
        line-height: 130%;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 456px;
      }

      .carousel-button {
        display: flex;
        padding-top: 40px;
        width: 163px;
      }
    }
  }
}

.services {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 142px;

    .services-title {
      align-self: start;
      @include head-title;
      margin-bottom: 40px;
    }

    .services-items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;

      .services-item {
        width: 290px;

        &:last-child {
          margin-right: 0;
        }

        .services-item-image {
          width: 290px;
          height: 290px;
          border-radius: 5px;
          background-size: cover;
          background-position: center;
        }

        .services-item-name {
          padding-top: 15px;
          padding-bottom: 10px;
          @include card-title;
        }

        .services-item-description {
          height: 90px;
          font-size: 14px;
          line-height: 130%;
          color: $blue-color;
          margin-bottom: 33px;
        }

        .services-item-action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .services-item-price {
            font-weight: 600;
            font-size: 20px;
            color: $light-blue-color;
          }

          .button {
            width: 163px;
          }
        }
      }
    }
  }
}

.info {
  .container {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-block {
      width: 703px;

      .info-title {
        @include head-title;
        margin-bottom: 20px;
      }

      .info-description {
        font-size: 14px;
        line-height: 130%;
        color: #1e1a2b;
        margin-bottom: 40px;

        span {
          font-weight: 500;
        }
      }

      .info-small-title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 26px;
        color: $light-blue-color;
        margin-bottom: 20px;
      }

      .info-advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .info-advantage {
          width: 316px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .info-advantage-number-circle {
            background-color: #b9d5fd;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            display: flex;
            flex-grow: 0;
            position: relative;

            .info-advantage-number {
              position: absolute;
              top: -20px;
              left: 5px;
              font-family: $second-family;
              font-weight: 500;
              font-size: 50px;
              color: $light-blue-color;
              text-align: center;
              width: 28px;
            }
          }

          .info-advantage-text {
            width: 256px;
            font-size: 14px;
            line-height: 130%;
            color: #1e1a2b;

            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.popular-articles {
  .container {
    padding-bottom: 120px;
  }
}

.reviews {
  .container {
    padding-bottom: 120px;
  }
}

.contacts {
  .container {
    padding-bottom: 120px;
  }
}
